.swal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: #9796967a;
   backdrop-filter: blur(4px);
   z-index: 9999999;
}

.swal-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70%;
}

.swal-header {

}
